<div class="calendar-container">
	<!-- Responsive calendar - START -->
	<div class="responsive-calendar">
		<div class="controls row">
			<div class="col-md-3">
				<div class="calendar-nav">
					<a class="pull-left" data-go="prev">
						<i class="ion-chevron-left icon"></i>
					</a>
				</div>
				
			</div>
			<div class="col-md-6">
				<div class="padding-20">
					<h4><span data-head-month></span> <span data-head-year></span></h4>
				</div>
				
			</div>
			<div class="col-md-3 pad-right-15">
				<div class="calendar-nav">
				<a class="pull-right" data-go="next">
					<i class="ion-chevron-right icon"></i>
				</a>
				</div>
			</div>
		</div>
		<div class="calendar-month">
			<div class="day-headers">
				<div class="col-md-2 day header">Mon</div>
				<div class="col-md-2 day header">Tue</div>
				<div class="col-md-2 day header">Wed</div>
				<div class="col-md-2 day header">Thu</div>
				<div class="col-md-2 day header">Fri</div>
				<div class="col-md-2 day header">Sat</div>
				<div class="col-md-2 day header">Sun</div>
			</div>
			<div class="days" data-group="days">
			  
			</div>
		</div>
		
	</div>
	<!-- Responsive calendar - END -->
</div>
